@font-face {
    font-family: 'SVN-Gotham XLight';
    src: url('SVN-GothamXLight.eot');
    src: url('SVN-GothamXLight.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamXLight.woff2') format('woff2'),
        url('SVN-GothamXLight.woff') format('woff'),
        url('SVN-GothamXLight.ttf') format('truetype'),
        url('SVN-GothamXLight.svg#SVN-GothamXLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

