@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBlack.eot');
    src: url('SVN-GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBlack.woff2') format('woff2'),
        url('SVN-GothamBlack.woff') format('woff'),
        url('SVN-GothamBlack.ttf') format('truetype'),
        url('SVN-GothamBlack.svg#SVN-GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

