@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-Gotham.eot');
    src: url('SVN-Gotham.eot?#iefix') format('embedded-opentype'),
        url('SVN-Gotham.woff2') format('woff2'),
        url('SVN-Gotham.woff') format('woff'),
        url('SVN-Gotham.ttf') format('truetype'),
        url('SVN-Gotham.svg#SVN-Gotham') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

