@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamItalic.eot');
    src: url('SVN-GothamItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamItalic.woff2') format('woff2'),
        url('SVN-GothamItalic.woff') format('woff'),
        url('SVN-GothamItalic.ttf') format('truetype'),
        url('SVN-GothamItalic.svg#SVN-GothamItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

